@{
    ViewData["Title"] = "Privacy Policy";
}
 
@ViewBag.Horaire
<p>Use this page to detail your site's privacy policy.</p>
@section MesStyles
{
<style>

.LOL
{
    background-color: palevioletred;
}
</style>
}
@section Scripts
{
<script>

    $("h1").addClass("LOL");
</script>
}